h1 {
    font-size: 2.4em;
    font-family: 'Cinzel', serif;
    display: block;
    font-weight: bold;
}
body {
    font-size:15px;
    font-family: 'Cinzel', serif;
    background-color: #F5FFFA;
    max-width: 100%;
}
header {
	margin: 10px auto;
    background-color: rgb(200, 252, 226);
    color: black;
	border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-family: 'Cinzel', serif;
    padding: 0.75rem;
}
header, nav, footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

 /* Navigation*/
nav {
    background-color: #21a398;
    text-align: center;
    color: black;
	border: 3px solid rgb(0, 0, 0);
}
nav ul {
    list-style-type: none;
    display: block;
}
nav ul li{
    display: inline;
}
nav ul li a {
    padding: .75rem;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover {
    background: white;
}

/* Footer and contact */
.contactsection {
    padding: 1.5rem;
    text-align: left;
    border: 3px solid black;;
    max-width:650px;
    margin: 10px auto;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(200, 252, 226);
}
.footerPart {
    background-color: #21a398;
    text-align: center;
    border: 3px solid black;
    max-width: 75%;
    font-weight: bold;
    font-size: 18px;
}
.location {
    float: right;
    width: 50%;
    padding: 10px;
}
.smallicon {
    width: 35px;
    padding: 8px;
}

/* Temple gallery */
.templePictures {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    text-align: center;
}
.templePictures img {
    margin-top: 8px;
    border: 5px solid black;
}